<script type="text/javascript">

</script>
<div class="bjui-pageHeader" style="background:#FFF;">
    <div style="padding: 0 15px;">
        <h4 style="margin-bottom:20px;">
            Thinkphp + B-JUI(Best jQuery UI)　<small>轻松开发，专注您的业务，从Thinkphp + B-JUI开始！</small>
            
        </h4>
        <div style="float:left; width:157px;">
        </div>
        <div style="margin-top:22px; padding-left:6px;">
            <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=efd89db80cf509a475791c724ddaa2fef70de19feb35595d31f6a535de6099ea"><img border="0" src="/Public/images/group.png" alt="一起PHP" title="一起PHP"></a>
        </div>
        <div class="row" margin-top:10px;">
            <div class="col-md-6" style="padding:5px;">
                <div class="alert alert-info" role="alert" style="margin:0 0 5px; padding:5px 15px;">
                    <h5>项目地址：<a href="http://git.oschina.net/pdosgk/thinkphp_bjui" target="_blank">GIT</a></h5>
                    <h5>演示地址：<a href="http://yiqiphp.tk/admin.php" target="_blank">http://yiqiphp.tk/admin.php</a></h5>
                    <h5>快速帮助：<a href="http://git.oschina.net/pdosgk/thinkphp_bjui/raw/master/%E5%BF%AB%E9%80%9F%E5%85%A5%E9%97%A8.doc" target="_blank">快速入门.doc</a></h5>
                    <span>(u/p:  admin/123456)</span>
                </div>                                  
            </div>
        </div>
    </div>
</div>
<div class="bjui-pageContent">
    <div style="margin-top:5px; overflow:hidden;">
        <div class="row" style="padding: 0 8px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">BJUI/GIT</h3></div>
                    
                    <div class="panel-body">
                        <iframe width="100%" height="240" class="share_self" frameborder="0" scrolling="no" src="git.html"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>