<div class="bjui-pageContent">
    <form action="__SELF__" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="catid" value="{$catid}">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td>
                        <label for="t_category_template" class="control-label x110">栏目首页模板：</label>
                        <input type="text" id="t_category_template" name="info[category_template]" value="" size="15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="t_category_template" class="control-label x110">栏目列表页模板：</label>
                        <input type="text" id="t_category_template" name="info[category_template]" value="" size="15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="t_category_template" class="control-label x110">内容页模板：</label>
                        <input type="text" id="t_category_template" name="info[category_template]" value="" size="15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="t_category_template" class="control-label x110">栏目首页模板：</label>
                        <input type="text" id="t_category_template" name="info[category_template]" value="" size="15">
                    </td>
                </tr>
                
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>