<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="__SELF__" method="post">
        <input type="hidden" name="pageSize" value="">
        <input type="hidden" name="pageCurrent" value="">
        <input type="hidden" name="orderField" value="">
        <input type="hidden" name="orderDirection" value="">
        <div class="bjui-searchBar">
            <select name="searchtype" data-toggle="selectpicker">
                <option value="0" selected="searchtype">标题</option>
                <option value="1" <eq name="searchtype" value="1">selected</eq>>简介</option>
                <option value="2"<eq name="searchtype" value="2">selected</eq>>用户名</option>
                <option value="3"<eq name="searchtype" value="3">selected</eq>>ID</option>
            </select>&nbsp;
            <input type="text" id="keyword" value="{$keyword}" name="keyword" class="form-control" size="10">&nbsp;
            <label>发布日期：</label><input type="text" id="a_start_time" name="start_time" value="{$start_time}" data-toggle="datepicker" readonly size="12"> - <input type="text" id="a_end_time" name="end_time" value="{$end_time}" data-toggle="datepicker" readonly size="12">
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
            <div class="pull-right">
                <button type="button" class="btn-green" data-url="{:U('Article/add?catid='.$catid)}" data-toggle="navtab" data-id="article_edit">添加</button>&nbsp;
                
                <div class="btn-group">
                    <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">复选框-批量操作<span class="caret"></span></button>
                    
                    <ul class="dropdown-menu right" role="menu">
                        <li><a href="{:U('Article/delete')}" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="ids" data-group="ids">删除选中</a></li>
                        <li><a href="{:U('Article/changeIssue')}" data-toggle="doajaxchecked" data-confirm-msg="确定要更改吗？" data-idname="ids" data-group="ids">更改发布状态</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table  data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
                <th width="50" data-order-field="id" align="center">ID</th>
                <th>标题</th>
                <th width="50">所在栏目</th>
                <th>简介</th>
                <th width="100" data-order-field="updatetime" align="center">添加时间</th>
                <th width="100" data-order-field="inputtime" align="center">发布时间</th>
                <th width="100" data-order-field="issue" align="center">发布状态</th>
                <th width="26"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th align="center" width="100">管理</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="page_list" item="item" >
            <tr data-id="{$item.id}">
                <td>{$item.id}</td>
                <td>{$item.title} <notempty name="item.thumb"><i id="icon_img" class="fa fa-picture-o"></i></notempty></td>
                <td>{$categorys[$item['catid']][catname]}</td>
                <td>{$item.description}</td>
                <td align="center">{$item.updatetime|date="Y-m-d",###}</td>
                <td align="center"><eq name="item.issue" value="1"><font color='#228B22'>{$item.inputtime|date="Y-m-d",###}</font><else /><font color='red'>未发布</font></eq></td>
                <td align="center"><eq name="item.issue" value="1"><font color='#228B22'>是</font><else /><font color='red'>否</font></eq></td>
                <td><input type="checkbox" name="ids" data-toggle="icheck" value="{$item.id}"></td>
                <td align="center">                          
                     <a class="btn btn-red" href="{:U('Article/changeIssue?ids='.$item[id])}" data-toggle="doajax">
                        <span><eq name="item.issue" value="1"><font>下架</font><else /><font color='#228B22'>发布</font></eq></span>
                    </a>
                    
                    <a class="btn btn-green" href="{:U('Article/edit?id='.$item[id])}" data-toggle="navtab" data-id="article_edit" data-title="编辑-{$item.title}"><span>修改</span></a>
                    
                    <a class="btn btn-red" href="{:U('Article/delete?ids='.$item[id])}" data-toggle="doajax" data-confirm-msg="确定要删除选中项吗？">删除</a>
                </td>
            </tr>
            </foreach>
            
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30" <eq name="page.pageSize" value="30">selected</eq>>30</option>
                <option value="60" <eq name="page.pageSize" value="30">selected</eq>>60</option>
                <option value="120" <eq name="page.pageSize" value="30">selected</eq>>120</option>
                <option value="150" <eq name="page.pageSize" value="30">selected</eq>>150</option>
            </select>
        </div>
        <span>&nbsp;条，共 {$page.totalCount} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$page.totalCount}" data-page-size="{$page.pageSize}" data-page-current="{$page.pageCurrent}"></div>
</div>